<script>

import P5 from 'p5';

const sketch = (p5: P5) => {
    p5.setup = () => {
        const canvas = p5.createCanvas(250, 250);
        canvas.parent('circle');
        p5.background('white');
    };


    p5.draw = () => {
        p5.translate(p5.width / 2, p5.height / 2);
        p5.ellipseMode(p5.CENTER);
        
        let r = 100;
        for (let i = 0; i < 20; i++) {
            let theta = (p5.TAU / 20) * i;
            // fill(150);
            p5.circle(r * Math.cos(theta), r * Math.sin(theta), 20);
        }
    };
};

new P5(sketch);

</script>

<a href="https://github.com/Zynh0722/Zynh0722.github.io/blob/main/src/components/sketches/ptc-conversion/polar-to-cartesion-demo.astro">
    <circles id="circle" />
</a>

<style>
    #circle {
        display: flex;
        justify-content: center;
    }
</style>