---
import Layout from "@layouts/Layout.astro";
import { SITE_TITLE } from "src/config";

const content = {
  title: `Calendar - ${SITE_TITLE}`,
  description: "A Calendar to represent the day's of my expected lifespan",
};
---

<Layout content={content}>
  <h1 class="cal-header">Days of Zynh</h1>
  <div class="day-container">
    {new Array(29220).fill(0).map(() => <div class="day" />)}
  </div>
</Layout>

<script>
  const bday: any = new Date("July 22, 2002 04:57:00");
  const oneDay = 1000 * 60 * 60 * 24;
  const diffInTime = Date.now() - bday.getTime();
  const diffInDays = Math.round(diffInTime / oneDay);

  const days = document.querySelectorAll(`.day`);
  for (let i = 0; i < diffInDays; i++) {
    // @ts-ignore
    days[i].style.backgroundColor = "grey";
  }
</script>

<style>
  :root {
    --days: 7290;
  }

  .cal-header {
    text-align: center;
  }

  .day-container {
    display: flex;
    flex-wrap: wrap;
  }

  .day {
    border: 1px black solid;
    width: 5px;
    height: 5px;
    margin: 1px;
  }

  /* .day:nth-child(-n+7290) {
        background-color: black;
    } */
</style>
