---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
---

<!DOCTYPE html>
<html lang="en-us">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>🧑‍🚀 Hello, Stranger!</h1>
			<p>
				This page serves largely as a placeholder for when I make a proper landing page. Until then feel
				free to explore the <a href="https://github.com/Zynh0722/Zynh0722.github.io">repository</a> and view the site!
			</p>
			<p>
				This site is built with <a href="https://astro.build/">Astro!</a> It's currently an offshoot of the default
				blog template, and I'm actively adding features, like read time!
			</p>
			<p>A few things I would like to add:</p>
			<ul>
				<li>More blog posts!!!</li>
				<li>Pagination in the <a href="/blog">blog</a> page</li>
				<li>Dark theme</li>
				<li>Anything else I or you think is cool, toss me an email!</li>
			</ul>
			<p>
				Have fun! If you get stuck or want me to add something, 
				<a href="mailto:Zynh0722@gmail.com">toss me an email</a>.
			</p>
			<p>This next bit is a test</p>
		</main>
		<Footer />
	</body>
</html>
