<a>
  <p5-sketch></p5-sketch>
</a>

<style>
  p5-sketch {
    display: flex;
    justify-content: center;

    border-radius: 1em;
    border: solid black;
    overflow: hidden;
  }
</style>

<script>
  import "./sketch.ts"
</script>
