---
const today = new Date();
---

<footer>
  &copy; {today.getFullYear()}
  <a href="mailto:Zynh0722@gmail.com">Zynh Ludwig</a>. All rights reserved.
  Powered by <a href="https://astro.build/">Astro</a>
</footer>
<style>
  footer {
    padding: 25px;
    text-align: center;
  }
</style>
