---
import Nav from './Nav.astro';
import { SITE_TITLE } from '../config';
---

<header>
	<div class="header-wrapper">
		<h2>
			{SITE_TITLE}
		</h2>
		<Nav />
	</div>
</header>
<style>
	header {
		margin: 0em 0 2em;
	}

	.header-wrapper {
		display: flex; 
		flex-flow: row wrap;
		justify-content: space-between; 
		align-items: baseline;
	}

	h2 {
		margin: 0.5em 0;
	}
</style>
