---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, class: className, ...props } = Astro.props as Props;

// TODO: Unhack this
const isActive = href === Astro.url.pathname || href + '/' === Astro.url.pathname;
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
  <slot />
</a>
<style>
  a {
    display: inline-block;
    text-decoration: none;
  }
  a.active {
    text-shadow: 0px 0px 1px #3273dc;
    text-decoration: underline;
  }
</style>
