---
import HeaderLink from "@components/HeaderLink.astro";
---

<nav>
  <HeaderLink href="/">Home</HeaderLink>
  <HeaderLink href="/blog">Blog</HeaderLink>
  <HeaderLink href="/portfolio">Portfolio</HeaderLink>
  <HeaderLink href="/about">About</HeaderLink>
  <HeaderLink href="https://github.com/Zynh0722" target="_blank">
    GitHub
  </HeaderLink>
</nav>

