<script>

import P5 from 'p5';

const sketch = (p5: P5) => {
    p5.setup = () => {

    };


    p5.draw = () => {

    };
};

new P5(sketch);

</script>

<a>
    <test id="insert-id-here"></test>
</a>

<style>

</style>